<%- include("../partials/header") %>
<h1 class="title"> <%= title %> </h1>
<div class="first-page">
  <div class="all-pg-page">
    <h2>Playground in Lions Park</h2>
    <p>whatever</p>
  </div>
  <div class="all-pg-map">
    <div id='map' style='width: 30rem; height: 40rem;'></div>
    <script>
      mapboxgl.accessToken = "%MAPBOX%";
      const map = new mapboxgl.Map({
      container: 'map', // container ID
      // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
      style: 'mapbox://styles/mapbox/streets-v12', // style URL
      center: [-24, 42], // starting center in [lng, lat]
      zoom: 1 // starting zoom
      });
      
      // Add geolocate control to the map.
      map.addControl(
      new mapboxgl.GeolocateControl({
      positionOptions: {
      enableHighAccuracy: true
      },
      // When active the map will receive updates to the device's location as it changes.
      trackUserLocation: true,
      // Draw an arrow next to the location dot to indicate which direction the device is heading.
      showUserHeading: true
      })
      );
    </script>
  </div>
</div>

<%- include("../partials/footer") %>