/* REVIEWS PAGE */

.review-form textarea {
  border-radius: 2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.review-form textarea:focus {
  background-color: #fceff2;
  border: none;
}

.review-form label {
  font-size: 1rem;
  color:#0b0103
}

.review-form select {
  border-radius:2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.submit-btn {
  background-color: #da8196;
  color: #edf4e2;
  border-radius: 100px;
  border:none;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
  padding: 0.4rem 3rem;
}

.submit-btn:hover {
  background-color: #edf4e2;
  color: #821630;
  
}

.delete-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #edf4e2;
  color: #821630;
}

.delete-button:hover {
  background-color: #da8196;
  color: #edf4e2;
}

.reviews-page {
  margin-left: 8rem;

}

.reviews-table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 2fr 6fr 1fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}

.reviews-table p {
  margin-bottom: 0;
}

.review-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.reviews-page h4 {
  margin-top:2rem;
}
