* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* background-color: #f1fcfc; */
  background-color: #bde6e6;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

header > a {
  margin: 20px;
  color: #821630;
  text-decoration: none;
  padding: 10px;
}

header > a:hover {
  color: #da8196;
}

/* header > a.active {
  color: #821630;
} */

.back {
  color: #821630;
  text-decoration: none;
  margin-left: 8rem;
}

.back:hover {
  color: #da8196;
}



.logo-img {
  width: 15rem;
  object-fit: contain;
  margin-right: auto;
}

.logo-img img {
  width: 15rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  margin: 2rem auto 3rem 8rem;
  font-family: "Moul";
  font-size: 2.4rem;
  color: #821630;
  letter-spacing: 2px;
}

h3 {
  margin-left: 8rem;
  margin-top: 4rem;
}

/* HERO SCREEN */

.hero-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.hero-screen h1 {
  font-family: "Moul";
  font-size: 3rem;
  margin-bottom: 0;
  color: #821630;
  letter-spacing: 2px;
}

.hero-screen h3 {
  font-size: 1.6rem;
  margin-top: 0;
  color: #da8196;
  letter-spacing: 4px;
}

.hero-screen a {
  background-color: #edf4e2;
  color: #821630;
  border-radius: 100px;
  text-decoration: none;
  font-family: "Poppins";
  margin-top: 2.4rem;
  text-align: center;
  padding: 1rem 3rem;
}

.hero-screen a:hover {
  background-color: #da8196;
  color: #edf4e2;
}

/* FIRST PAGE */

.first-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  margin-left: 8rem;
  margin-right: 2rem;
}

.first-page a {
  text-decoration: none;
  color: #400311;
}

.first-page a:hover {
  color: #da8196;
}

.all-pg-page {
  align-self: flex-start;
}

.names {
  font-size: 1.4rem;
}


/* SHOW PAGE */

.equip-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  margin-top: 2rem;
}

.equip-table p {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 2rem;
}

/* REVIEWS PAGE */

.review-form textarea {
  border-radius: 2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.review-form textarea:focus {
  background-color: #fceff2;
  border: none;
}

.review-form label {
  font-size: 1rem;
  color:#0b0103
}

.review-form select {
  border-radius:2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.submit-btn {
  background-color: #da8196;
  color: #edf4e2;
  border-radius: 100px;
  border:none;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
  padding: 0.4rem 3rem;
}

.submit-btn:hover {
  background-color: #edf4e2;
  color: #821630;
  
}

.delete-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #edf4e2;
  color: #821630;
}

.delete-button:hover {
  background-color: #da8196;
  color: #edf4e2;
}

.reviews-page {
  margin-left: 8rem;

}

.reviews-table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 2fr 6fr 1fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}

.reviews-table p {
  margin-bottom: 0;
}

.review-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.reviews-page h4 {
  margin-top:2rem;
}

/* MAP */

.marker {
  background-image: url("https://i.imgur.com/R6pinb3.png");
  background-size: cover;
  width: 50px;
  height: 65px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.all-pg-map {
  align-self: start;
}

/* IMAGES PAGE */

.pg-img {
  width: 50%;
}

.photo-form {
  margin-top: 2rem;
  margin-left: 8rem;
}

.photo-input{
  border-radius: 2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom:1rem;
  color: #0b0103;
}

.photo-input:focus {
  background-color: #fceff2;
  border: none;
}

.photo-form label {
  font-size: 1rem;
  color:#0b0103
}

.form-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 30%;
}

.carousel  {
  margin-left: 8rem;
  width: 60%
}

.carousel-inner {
  height: 30rem;
}

.carousel-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* NEW PAGE  */

.new-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  width: 60%;
  gap: 1rem;
  margin-top: 3rem;
}

.new-form textarea {
  border-radius: 2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.new-form textarea:focus {
  background-color: #fceff2;
  border: none;
}

.new-form input {
  border-radius: 2px;
  border: none;
  background-color: #edf4e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #0b0103
}

.new-form input:focus {
  background-color: #fceff2;
  border: none;
}

.hero-screen-bg {
  background: url("https://i.imgur.com/DwefNwp.png") no-repeat center center fixed;
  background-size: cover;
}

